<!DOCTYPE html>
<html data-ng-app="todoApp">

<head>
  <title>Todo App by Alan Zheng</title>
</head>

<body>

  <div data-ng-controller="BodyCtrl">
    <h1>What to do today? :)</h1>
    <todo-notification></todo-notification>

    <form 
        action="http://todo.alanzheng.com:5000/index.php"
        method="get">
      <input type="text" 
          name="task_name" 
          placeholder="Enter task"
          data-ng-model="task_model">
      <select
          data-ng-model="type_model">
          <option data-ng-repeat="type in types">{{ type }}</option>
      </select>
      <input type="submit" value="Submit">
    </form>

    <p>TODO: &lt;task: {{ task_model | uppercase }}, type: {{ type_model | uppercase }}&gt;</p>

    <h3>Task Status</h3>

    <ul data-ng-init="tasklist=[{name: 'Meal Prep', status: 'done'},
                                {name: 'Climb mount everest', status: 'in progress'},
                                {name: 'Do Garibaldi hike', status: 'not started'},
                                {name: '21km run', status: 'in progress'}]">
      <li data-ng-repeat="task in tasklist | filter: task_model | orderBy: 'name'">{{ task.name }} - {{ task.status }}</li>
    </ul>

    <div data-ng-view></div>

    <a href="#!weather">Get Weather Info</a> |
    <a href="#!activity">Choose Random Activity</a>

  </div>
  
  <script src="../vendor/angular/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="app.js"></script>
  <!-- CONTROLLERS -->
  <script src="activity/activity.controller.js"></script>
  <script src="task/task.controller.js"></script>
  <script src="weather/weather.controller.js"></script>
  <!-- FACTORIES -->
  <script src="task/task.factory.js"></script>
</body>

</html>
